.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #6F4CBB, #431FA0);
}

.button1 {
    -fx-background-color: #6F4CBB;
    -fx-text-fill: #ccccff;
}

.button1:hover {
    -fx-text-fill:#431FA0;
}

.button1:pressed {
    -fx-text-fill: #371897;
}

.button2 {
    -fx-background-color: #D5CBEB;
    -fx-background-radius: 5;
    -fx-text-fill: #371897;
    -fx-border-color: #6F4CBB;
    -fx-border-radius: 5;
}

.button2:hover {
    -fx-background-color: #E4EEFD;
}

.button2:pressed {
    -fx-text-fill: #371897;
}

